@model SportEvents.Models.Comment

@{
    ViewBag.Title = "Delete";
}
<a class="return" onclick="history.back()">
    Odstranění komentáře
</a>
<hr />

<div class="description-groups">
    <p style="font-size: 20px; font-weight:500">Opravdu chcete tento Komentář odstranit?</p>
    <p>
        <b>@Html.DisplayNameFor(model => model.Text): </b>@Html.DisplayFor(model => model.Text)
    </p>
    <p>
        <b>@Html.DisplayNameFor(model => model.CreationTime): </b>@Html.DisplayFor(model => model.CreationTime)
    </p>
    <p>
        <b>@Html.DisplayNameFor(model => model.CreatorFullName): </b>@Html.DisplayFor(model => model.CreatorFullName)
    </p>   
</div>
@using (Html.BeginForm())
{

    <div class="form-actions no-color">
        <input type="submit" value="Odstranit" class="button" /> 
    </div>
}
