@model SportEvents.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>AddUserToGroup</h2>

<div>
    <h4>AddUserToGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="AddUserToGroup" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
        
</div>
