﻿@model SportEvents.Models.Group

@{
    ViewBag.Title = "Uzavřít skupinu";
}

<a class="return" onclick="history.back()">
    Uzavřít skupinu
</a>
<hr />

<div class="description-groups">
    <p style="font-size: 20px; font-weight:500">Opravdu chcete uzavřít skupinu?</p>
    <p>
        <b>@Html.DisplayNameFor(model => model.Name): </b>@Html.DisplayFor(model => model.Name)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.CreatorFullName): </b>@Html.DisplayFor(model => model.CreatorFullName)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.NumberOfUsersInGroup): </b>@Html.DisplayFor(model => model.NumberOfUsersInGroup)
    </p>

    <p>
        <b>@Html.DisplayNameFor(model => model.CreateTime): </b>@Html.DisplayFor(model => model.CreateTime)
    </p>



</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <input type="submit" value="Uzavřít" class="button" />


}
