@model SportEvents.ViewModels.GroupsEventsVM


@{
    ViewBag.Title = "Details";
}

<h3 style="text-align:center"> @TempData["notice"]</h3>
<a class="return" onclick="history.back()"> @Model.Group.Name </a>
<hr />
<div>
    @{
        if (ViewBag.IsUserInGroup == false)
        {
            @(Html.BeginForm())
            {

                <div>
                    <input type="submit" value="Přidat se do skupiny" class="button" />
                </div>
            }
        }


        <div class="description-groups">
            <p>
                @Html.DisplayFor(model => Model.Group.Description)
            </p>
        </div>

        if (Model.Events.Count() != 0)
        {
            <h3>Seznam událostí</h3>

            <table class="table">
                <tr>
                    <th>
                        Název události
                    </th>
                    <th>
                        Čas
                    </th>
                    <th>
                        Opakovaná událost do:
                    </th>
                    <th>
                        Místo
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        Opakovaná událost?
                    </th>
                    <th>
                        Interval opakování (týdny)
                    </th>
                    <th>
                        ID skupiny
                    </th>
                </tr>
                @foreach (var item in Model.Events)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeOfEvent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RepeatUntil)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Repeat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Interval)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrpId)
                        </td>
                    </tr>
                }
            </table>
        }
    }
</div>
