@model SportEvents.ViewModels.GroupsEventsVM


@{
    ViewBag.Title = "Details";
}

<h3 style="text-align:center"> @TempData["notice"]</h3>
<h2>Název skupiny: @Model.Group.Name</h2>

<div>
    @{
        if (ViewBag.IsUserInGroup == false)
        {
            using(Html.BeginForm())
            {

                <div>
                    <input type="submit" value="Přidat se do skupiny" class="button" />
                </div>
            }
        }


        <div class="description-groups">
            
            <p>
                @Html.DisplayFor(model => Model.Group.Description)
            </p>
        </div>

        if (Model.Events.Count() != 0)
        {
            <h3>Seznam událostí</h3>

            <table class="table">
                <tr>
                    <th>
                        Název události
                    </th>
                    <th>
                        Datum a čas
                    </th>                    
                    <th>
                        Místo
                    </th>
                    <th>
                        Cena
                    </th>                    
                    
                    
                </tr>
                @foreach (var item in Model.Events)
                {
                    <tr onclick="location.href = '@(Url.Action("Details", "Events", new { id = item.Id }))'">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeOfEvent, "{0:d}")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
            </table>
        }
    }
</div>

<p>    
    @Html.ActionLink("Zpět", "Index")
</p>
