@model SportEvents.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        
        <dt>
            @Html.DisplayFor(model => model.CreateTime)
        </dt>
               
        
        <dt>
            @Html.DisplayNameFor(model => model.StartOfPaymentPeriod)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.StartOfPaymentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndOfPaymentPeriod)
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.EndOfPaymentPeriod)
        </dd>

        <dt>
            <b>Události skupiny</b>
        </dt>

        



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
