@model SportEvents.ViewModels.GroupEventsArticlesVM


@{
    ViewBag.Title = "Details";
}
<h3 style="text-align:center"> @TempData["upload"]</h3>
<h3 style="text-align:center"> @TempData["notice"]</h3>
<h3 style="text-align:center"> @TempData["email"]</h3>

<body>

    @Html.ActionLink(@Model.Group.Name, "Index", "Groups", null, new { @class = "return" })


    <hr />

    @if (ViewBag.IsUserCreator == true)
    {
        <p class="button-link">
           @Html.ActionLink("Nová událost", "Create", "Events", new { groupId = Model.Group.Id }, null)        
        </p>
        <p class="button-link">
            @Html.ActionLink("Editovat skupinu", "Edit", new { id = Model.Group.Id })
        </p>
         <p class="button-link-first">
            @Html.ActionLink("Účtovací období", "Index", "PaymentPeriod", new { groupId = Model.Group.Id }, null)
        </p>
    }

    @if (ViewBag.IsUserInGroup == true)
    {
        <p class="button-link">
            @Html.ActionLink("Nový článek", "Create", "Article", new { id = Model.Group.Id }, null)           
        </p>
    }


    <div id="container">
        <section id="left">
            @if (ViewBag.IsUserInGroup == false)
            {
                
                using (Html.BeginForm("Details", "Groups", FormMethod.Post))
                {

                    <div class="button-link">
                        <input type="submit" value="Přidat se do skupiny" class="button" />
                    </div>
                }
            }
            <div class="description-groups">
                <p>
                    @Html.DisplayFor(model => Model.Group.Description)
                </p>
            </div>
            @if (Model.Events.Count() != 0)
            {
               

                <table class="table">
                    <tr>
                        <th>
                            <h3>Seznam událostí</h3>
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>


                    </tr>
                    @foreach (var item in Model.Events)
                    {
                        <tr onclick="location.href = '@(Url.Action("Details", "Events", new { id = item.Id }))'">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeOfEvent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Place)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                        </tr>
                    }
                </table>
            }
        </section>
        <section id="right">

            @if (Model.Articles.Count() != 0)
            {
                


                <table id="table-article">
                    <tr>
                        <th>
                            <h3>Seznam článků</h3>
                        </th>
                        <th>

                        </th>


                    </tr>
                    @foreach (var item in Model.Articles)
                    {
                       <tr onclick="location.href = '@(Url.Action("Details", "Article", new { id = item.ID }))'">
                            <td>
                                <img src="@Url.Content(item.Picture)" alt="images">
                            </td>
                            <td>
                                <h5>@Html.DisplayFor(modelItem => item.Title)</h5>
                                <h6><span>@Html.DisplayFor(modelItem => item.CreationTime)</span></h6>
                                <h6>Autor: @Html.DisplayFor(modelItem => item.CreatorFullName)</h6>

                                @if (Session["UserSession"] != null)
                                {
                                    SportEvents.Models.User user = (SportEvents.Models.User)Session["UserSession"];
                                    if (user.Id == item.UserID)
                                    {
                                        @Html.ActionLink("Editovat", "Edit", "Article", new { id = item.ID }, null)
                                        @Html.ActionLink("Smazat", "Delete", "Article", new { id = item.ID }, null)
                                    }
                                }
                                
                            </td>
                        </tr>
                    }

                </table>
            }

        </section>
    </div>

</body>
