@model SportEvents.Models.Group

@{
    ViewBag.Title = "Edit";
}

<a class="return" onclick="history.back()">
    Editace skupiny
</a>
  <hr />              

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
 

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        @*<div class="form-group">
            @Html.LabelFor(model => model.Creator, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Creator)
                @Html.ValidationMessageFor(model => model.Creator)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, 20, 50, new { @class = "form-control col-md-2" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatorFullName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatorFullName, new { htmlAttributes = new { @class = "form-disabled", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CreatorFullName)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CreateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateTime)
                @Html.ValidationMessageFor(model => model.CreateTime)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfUsersInGroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfUsersInGroup, new { htmlAttributes = new { @class = "form-disabled", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.NumberOfUsersInGroup)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="uložit" class="button" />
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
