@model IEnumerable<SportEvents.Models.Group>

@{
    ViewBag.Title = "Index";
}
<h3 style="text-align:center"> @TempData["notice"]</h3>
<h2>@SportEvents.Languages.Resources.groupsIn</h2>
    <hr />

@if (Session["UserSession"] != null)
{

    /*<p>
       @Html.ActionLink("List of Events", "Index", "Events")
   </p>*/
    <p class="button-link-first">        
        @Html.ActionLink(@SportEvents.Languages.Resources.create, "Create")
    </p>
    <p class="button-link">
        @Html.ActionLink(@SportEvents.Languages.Resources.allGroups, "Index", "Groups")
    </p>
    <p class="button-link">
        @Html.ActionLink(@SportEvents.Languages.Resources.groupsIn, "IndexMember", "Groups")
    </p>
    <p class="button-link">
        @Html.ActionLink(@SportEvents.Languages.Resources.createdGroup, "IndexCreator", "Groups")
    </p>

}


<table class="table" >
    <tr>
        <th>
            <h3>@SportEvents.Languages.Resources.title</h3>
        </th>
        
        <th>
            <h3>@SportEvents.Languages.Resources.IDowner</h3>
        </th>
        <th>
            <h3>@SportEvents.Languages.Resources.numberOfUsers</h3>
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Details", "Groups", new { id = item.Id }))'">
        <td width="50%">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.CreatorFullName)
        </td>        
        <td style="text-align: center">
            @Html.DisplayFor(modelItem => item.NumberOfUsersInGroup)
        </td>
        
    </tr>
}

</table>
