@model IEnumerable<SportEvents.Models.Group>

@{
    ViewBag.Title = "Index";

<h3 style="text-align:center"> @TempData["notice"]</h3>
<h2>Seznam všech skupin</h2>
    <hr />

if (Session["UserSession"] != null)
{
   
    
     /*<p>
        @Html.ActionLink("List of Events", "Index", "Events")
    </p>*/
    <p class="button-link-first">
        @Html.ActionLink("Nová skupina", "Create")
    </p>
    <p class="button-link">
        @Html.ActionLink("Seznam událostí", "Index","Events")
    </p>
    <p class="button-link">
        @Html.ActionLink("Všechny skupiny", "Index", "Groups")
    </p>
    <p class="button-link">
        @Html.ActionLink("Skupiny, kterých jsem členem", "IndexMember", "Groups")
    </p>
    <p class="button-link">
        @Html.ActionLink("Mnou vytvořené skupiny", "IndexCreator", "Groups")
    </p>
     <p class="button-link">
        @Html.ActionLink("Seznam článků", "Index", "Article")
    </p>

}


<table class="table" >
    <tr>
        <th>
            <h3>Název</h3>
        </th>
        <th>
            <h3>ID vlastníka</h3>
        </th>
        <th>
            <h3>Počet uživatelů</h3>
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Details", "Groups", new { id = item.Id }))'">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator) 
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfUsersInGroup)
        </td>
        
        
    </tr>
}

</table>
}