@model IEnumerable<SportEvents.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Seznam skupin</h2>

@if (Session["UserSession"] != null)
{
    <h3 style="text-align:center"> @TempData["notice"]</h3>
    <p>
        @Html.ActionLink("vytvořit novou skupinu", "Create")
    </p>
     <p>
        @Html.ActionLink("seznam událostí", "Index", "Events")
    </p>
    
    
}


<table class="table">
    <tr>
        <th>
            <h3>název</h3>
        </th>
        <th>
            <h3>popis</h3>
        </th>
        <th>
            <h3>ID zakladatele</h3>
        </th>
        <th>
            <h3>počet uživatelů</h3>
        </th>
        <th>
            <h3>začátek zúčtovacího období</h3>
        </th>
        <th>
            <h3>konec zúčtovacího období</h3>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creator) 
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfUsersInGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartOfPaymentPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndOfPaymentPeriod)
        </td>
        <td>            
            @Html.ActionLink("přidat se do skupiny", "AddUserToGroup", new { id = item.Id })  |
            @Html.ActionLink("editovat", "Edit", new { id=item.Id })  |
            @Html.ActionLink("detail", "Details", new { id=item.Id })  |
            @Html.ActionLink("smazat", "Delete", new { id=item.Id })

        </td>
    </tr>
}

</table>
