@model SportEvents.Models.Article

@{
    ViewBag.Title = "Delete";
}


<a class="return" onclick="history.back()">
    Odstranit článek
</a>

<hr />


<div class="description-groups">
        <p style="font-size: 20px; font-weight:500">Opravdu chcete tento článek odstranit?</p>
        <p>
            <b>@Html.DisplayNameFor(model => model.Title): </b>@Html.DisplayFor(model => model.Title)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.Body): </b>@Html.DisplayFor(model => model.Body)
        </p>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Odstranit" class="button" /> 
    </div>
}