@model SportEvents.Models.Article

@{
    ViewBag.Title = "Details";
}

<a class="return" onclick="history.back()">
    @Model.Title
</a>
<hr />





@if (Session["UserSession"] != null)
{
    SportEvents.Models.User user = (SportEvents.Models.User)Session["UserSession"];
    if (user.Id == Model.UserID)
    {
        <p class="button-link-first">
            @Html.ActionLink("Editovat", "Edit", new { id = Model.ID })
            @Html.ActionLink("Smazat", "Delete", new { id = Model.ID })
        </p>
    }
}

<div class="description-groups">
    <div id="article-img">
        <img src="@Url.Content(Model.Picture)" alt="images" width="200" height="200">
    </div>
    <div id="article-content">
      <b>@Html.DisplayFor(model => model.CreatorFullName)</b><br />
       <b>@Html.DisplayFor(model => model.CreationTime)</b><br /><br />
       <p>@Html.DisplayFor(model => model.Body)</p>
        
    </div>

</div>

