@model SportEvents.ViewModels.ArticleCommentsVM

@{
    ViewBag.Title = "Details";
}

<a class="return" onclick="history.back()">
    @Model.Article.Title
</a>
<h3 style="text-align:center"> @TempData["notice"]</h3>
<hr />


@if (Session["UserSession"] != null)
{
    SportEvents.Models.User user = (SportEvents.Models.User)Session["UserSession"];
    if (user.Id == Model.Article.UserID)
    {
        <p class="button-link">
            @Html.ActionLink("Editovat", "Edit", new { id = Model.Article.ID })
            @Html.ActionLink("Smazat", "Delete", new { id = Model.Article.ID })
        </p>
    }
}

<div class="description-groups">
    <div id="article-img">
        <img src="@Url.Content(Model.Article.Picture)" alt="images" max-width="500">
    </div>
    <div id="article-content">
        <b>@Html.DisplayFor(model => model.Article.CreatorFullName)</b><br />
        <b>@Html.DisplayFor(model => model.Article.CreationTime)</b><br /><br />
        <p>@Html.DisplayFor(model => model.Article.Body)</p>
    </div>
</div>

<div class="description-groups">
    <p style="font-size: 20px; font-weight:500">Komentáře</p>
    <div class="comments">
        @foreach (var item in Model.Comments)
        {


            if (Session["UserSession"] != null)
            {
                SportEvents.Models.User user = (SportEvents.Models.User)Session["UserSession"];
                if (user.Id == item.UserID)
                {
                    <h4><b>@Html.DisplayFor(modelItem => item.CreatorFullName)</b> @Html.DisplayFor(modelItem => item.CreationTime) <span>@Html.ActionLink("Editovat", "Edit", "Comment", new { id = item.ID }, null) @Html.ActionLink("Smazat", "Delete", "Comment", new { id = item.ID }, null)</span></h4>
                }
                else
                {
                    <h4><b>@Html.DisplayFor(modelItem => item.CreatorFullName)</b> @Html.DisplayFor(modelItem => item.CreationTime)</h4>
                }
                <p>@Html.DisplayFor(modelItem => item.Text)</p>
            }

        }

    </div>
    <div class="insert-comment">
        @using (Html.BeginForm("Create", "Comment", FormMethod.Post))
        {
            @Html.AntiForgeryToken()



            @Html.ValidationSummary(true)
            <input type="hidden" value="@Model.Article.ID" name="ParentID" />
            <input type="hidden" value="@SportEvents.Models.ParentType.Article" name="ParentType" />
            <textarea name="Text" id="Text" placeholder="Vložte komentář" style="padding: 5px"></textarea>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="Submit" value="Vytvořit komentář" class="button-comments" />
                </div>
            </div>

        }
    </div>

</div>




