@model SportEvents.Models.Event

<a class="return" onclick="history.back()">
    Nová událost
</a>
<hr />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script src="@Url.Content("~/Scripts/jquery-ui-timepicker-addon.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/TimePickerSettings.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.repeat-radio-button').on('change', function () {
            if ($('.repeat-radio-button:checked').val() == 'True') {
                $('.repeated-event').show(250);
            }
            else {
                $('.repeated-event').hide(250);
            }
        });
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Název události", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.GrpId, "Vyber skupinu, ve které chceš vytvořit události", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GrpId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GrpId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TimeOfEvent, "Datum a čas události", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TimeOfEvent, new { @class = "datetimepicker", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place, "Místo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Place, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Popis", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, "Cena", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Repeat, "Chceš vytvořit opakovanou událost?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(e => e.Repeat, true, new { Checked = "checked", @class = "repeat-radio-button" }) Ano
                @Html.RadioButtonFor(e => e.Repeat, false, new { @class = "repeat-radio-button" }) Ne
            </div>
        </div>

        <div class="repeated-event">
            @Html.LabelFor(model => model.Interval, "Jak často se budou konat", htmlAttributes: new { @class = "control-label col-md-2" })
            <div>
                @Html.RadioButtonFor(e => e.Interval, 1, new { @checked = true }) Jednou týdně
                @Html.RadioButtonFor(e => e.Interval, 2) Co dva týdny
            </div>
        </div>

        <div class="form-group repeated-event">
            @Html.LabelFor(model => model.RepeatUntil, "Kdy opakovaná událost končí?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RepeatUntil, new { @class = "datepicker", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vytvořit" class="button" />
            </div>
        </div>
    </div>
}
