@model SportEvents.Models.Event

@{
    ViewBag.Title = "Delete";
}

<a class="return" onclick="history.back()">
    Odstranit událost
</a>
<hr />

<div class="description-groups">
    <p style="font-size: 20px; font-weight:500">Opravdu chcete tento článek odstranit?</p>
        <p>
            <b>@Html.DisplayNameFor(model => model.Group.Name): </b>@Html.DisplayFor(model => model.Group.Name)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.Name): </b>@Html.DisplayFor(model => model.Name)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.TimeOfEvent): </b>@Html.DisplayFor(model => model.TimeOfEvent)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.RepeatUntil): </b>@Html.DisplayFor(model => model.RepeatUntil)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.Place): </b>@Html.DisplayFor(model => model.Place)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.Description): </b>@Html.DisplayFor(model => model.Description)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.Price): </b>@Html.DisplayFor(model => model.Price)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.Repeat): </b>@Html.DisplayFor(model => model.Repeat)
        </p>

        <p>
            <b>@Html.DisplayNameFor(model => model.Interval): </b>@Html.DisplayFor(model => model.Interval)
        </p>

    
</div>
@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()


    <input type="submit" value="Odstranit" class="button" /> 


    }
