@model SportEvents.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Skupina: @Html.DisplayFor(model => model.Group.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Datum a čas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfEvent)
        </dd>

        <dt>
            Místo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            Popis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        
       
        
                

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Zpět", "Index")
</p>
