@model SportEvents.Models.Event

@{
    ViewBag.Title = "Details";
}

<a class="return" onclick="history.back()">
    @Model.Name
</a>
<hr />
<div id="container">
    <div id="left">
        <div class="description-groups">
            <p><b>Datum a čas: </b>@Html.DisplayFor(model => model.TimeOfEvent)</p>
            <p><b>Místo: </b>@Html.DisplayFor(model => model.Place)</p>
            <p><b>Cena: </b>@Html.DisplayFor(model => model.Price)</p>
            <p><b>Popis: </b><br />@Html.DisplayFor(model => model.Description)</p>
        </div>

        @using (Html.BeginForm("Details", "Events", FormMethod.Post))
        {
            if (Model.participation.ToString().Equals("Yes"))
            {
                <dt>
                    @Html.RadioButtonFor(model => model.participation, -1) Nezúčastním se
                    @Html.RadioButtonFor(model => model.participation, 1, new { Checked = "checked" }) Účastním se
                </dt>
            }
            if (Model.participation.ToString().Equals("No"))
            {
                <dt>
                    @Html.RadioButtonFor(model => model.participation, -1, new { Checked = "checked" }) Nezúčastním se
                    @Html.RadioButtonFor(model => model.participation, 1) Účastním se
                </dt>
            }
            if (Model.participation.ToString().Equals("Unspoken"))
            {

                <dt>

                    @Html.RadioButtonFor(model => model.participation, -1) Nezúčastním se
                    @Html.RadioButtonFor(model => model.participation, 1) Účastním se
                </dt>
            }


            <input type="submit" value="Potvrď" class="button" />
        }
    </div>
    <div id="right">
        <table class="table">
            <tr>
                <th>
                   <h3>Hráči</h3>
                </th>
                <th>
                    <h3>Účast</h3>
                </th>

            </tr>
            @foreach (var item in Model.UserParticipationNo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                   
                    <td>
                        <img src="~/Image/dialog-no.png" />
                    </td>
                </tr>
            }
            @foreach (var item in Model.UserParticipationYes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                   
                    <td>
                        <img src="~/Image/Button-Ok-icon.png" />
                    </td>
                </tr>
            }
            @foreach (var item in Model.UserParticipationUnspoken)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        <img src="~/Image/question-mark.png" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>