@model SportEvents.ViewModels.EventCommentsVM

@{
    ViewBag.Title = "Details";
}

<a class="return" onclick="history.back()">
   @Html.DisplayFor(model => Model.Event.Name)
</a>
<h3 style="text-align:center"> @TempData["notice"]</h3>
<hr />

@if (Session["UserSession"] != null)
{
    SportEvents.Models.User user = (SportEvents.Models.User)Session["UserSession"];
    if (user.Id == Model.Event.CreatorId)
    {
        <p class="button-link">
            @Html.ActionLink("Editovat", "Edit", new { id = Model.Event.Id })
            @Html.ActionLink("Smazat", "Delete", new { id = Model.Event.Id })
        </p>
    }
}
<div id="container">
    <div id="left">
        <div class="description-groups">
            <p><b>Datum a čas: </b>@Html.DisplayFor(model => Model.Event.TimeOfEvent)</p>
            <p><b>Místo: </b>@Html.DisplayFor(model => Model.Event.Place)</p>
            <p><b>Cena: </b>@Html.DisplayFor(model => Model.Event.Price)</p>
            <p><b>Popis: </b><br />@Html.DisplayFor(model => Model.Event.Description)</p>
            <b style="margin: 0">Účast:</b><br />
@using (Html.BeginForm("Details", "Events", FormMethod.Post))
{
    @Html.HiddenFor(model => Model.Event.Id)
    if (Model.Event.participation.ToString().Equals("Yes"))
    {
        <dt>
            @Html.RadioButtonFor(model => Model.Event.participation, -1) Nezúčastním se
            @Html.RadioButtonFor(model => Model.Event.participation, 1, new { Checked = "checked" }) Účastním se
        </dt>
    }
    if (Model.Event.participation.ToString().Equals("No"))
    {
        <dt>
            @Html.RadioButtonFor(model => Model.Event.participation, -1, new { Checked = "checked" }) Nezúčastním se
            @Html.RadioButtonFor(model => Model.Event.participation, 1) Účastním se
        </dt>
    }
    if (Model.Event.participation.ToString().Equals("Unspoken"))
    {

        <dt>
            @Html.RadioButtonFor(model => Model.Event.participation, -1) Nezúčastním se
            @Html.RadioButtonFor(model => Model.Event.participation, 1) Účastním se
        </dt>
    }


    <input type="submit" value="Potvrď" class="button-comments" />
}
            
            
        </div>

       
    </div>
    <div id="right">
        <table class="table">
            <tr>
                <th>
                   <h3>Hráči</h3>
                </th>
                <th>
                  
                </th>
                <th>
                    <h3>Účast</h3>
                </th>

            </tr>
            @foreach (var item in Model.Event.UserParticipationNo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>

                    <td>
                        <img src="~/Image/dialog-no.png" />
                    </td>
                </tr>
            }
            @foreach (var item in Model.Event.UserParticipationYes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        <img src="~/Image/Button-Ok-icon.png" />
                    </td>
                </tr>
            }
            @foreach (var item in Model.Event.UserParticipationUnspoken)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        <img src="~/Image/question-mark.png" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="description-groups">
    <p style="font-size: 20px; font-weight:500">Komentáře</p>

    <div class="comments">
        @foreach (var item in Model.Comments)
        {


            if (Session["UserSession"] != null)
            {
                SportEvents.Models.User user = (SportEvents.Models.User)Session["UserSession"];
                if (user.Id == item.UserID)
                {
                    <h4><b>@Html.DisplayFor(modelItem => item.CreatorFullName)</b> @Html.DisplayFor(modelItem => item.CreationTime) <span>@Html.ActionLink("Editovat", "Edit", "Comment", new { id = item.ID }, null) @Html.ActionLink("Smazat", "Delete", "Comment", new { id = item.ID }, null)</span></h4>
                }
                else
                {
                    <h4><b>@Html.DisplayFor(modelItem => item.CreatorFullName)</b> @Html.DisplayFor(modelItem => item.CreationTime)</h4>
                }
                <p>@Html.DisplayFor(modelItem => item.Text)</p>
            }

        }
    </div>
    <div class="insert-comment">
        @using (Html.BeginForm("Create", "Comment", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div>
                @Html.ValidationSummary(true)
                <input type="hidden" value="@Model.Event.Id" name="ParentID" />
                <input type="hidden" value="@SportEvents.Models.ParentType.Event" name="ParentType" />
                <textarea name="Text" id="Text"> </textarea>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" name="Submit" value="Vytvořit komentář" class="button-comments" />
                    </div>
                </div>
            </div>
        }

        </div>

      
    </div>
