@model SportEvents.ViewModels.ListOfPaymentsForUserInPaymentPeriodVM



<a class="return" onclick="history.back()">
    Seznam plateb pro účtovací období
</a>
<hr />

<div class="description-groups">
    <p style="font-size: 20px; font-weight:500">Období @Html.DisplayFor(model => model.PaymentPeriod.Start) - @Html.DisplayFor(model => model.PaymentPeriod.End)</p>
    <p><b>Skupina: </b>@Html.DisplayFor(model => model.PaymentPeriod.GroupName)</p>
    <p style="color: red"><b>Celkem dlužná částka: </b>@Html.DisplayFor(model => model.SumPrices)  </p>
    <p><b>Celkem zaplatili hotově na místě: </b>@Html.DisplayFor(model => model.SumCash) </p>
    <p><b>Celkem zaplatí zpětně: </b>@Html.DisplayFor(model => model.SumAfterPeriod) </p>
</div>


    @foreach (var item in Model.ChargedUsersPayingByCash)
    {


        <p class="header-payments">
            <b>@Html.DisplayFor(modelItem => item.FirstName)
@Html.DisplayFor(modelItem => item.Surname)</b>
            zaplatil hotově na místě: @Html.DisplayFor(modelItem => item.sum)
        </p>

        <table class="table" style="width:60%">
            <tr>
                <th>
                    <h3>Cena události</h3>
                </th>
                <th>
                    <h3>Název</h3>
                </th>

                <th>
                    <h3>Datum a čas</h3>
                </th>
            </tr>
            @if (item != null)
            {
                foreach (var item2 in item.EventsParticipationYes)
                {
                    <tr>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item2.Price)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item2.Name)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item2.TimeOfEvent)
                        </td>
                    </tr>
                }
            }
            
        </table>
    }
   
    
    
        <p></p>
    
    @foreach (var item in Model.ChargedUsersPayingAfterPeriod)
    {


        <p>
            Uživatel @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.Surname)
            zaplatí zpětně: @Html.DisplayFor(modelItem => item.sum)
        </p>

        <table class="table">
            <tr>
                <th>
                    Cena události
                </th>
                <th>
                    Název
                </th>

                <th>
                    Datum a čas
                </th>
            </tr>
            @if (item != null)
	{
                foreach (var item2 in item.EventsParticipationYes)
                {
                    <tr>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item2.Price)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item2.Name)
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item2.TimeOfEvent)
                        </td>
                    </tr>
                }

    }      
        </table>
    }
        



