@model SportEvents.ViewModels.ListOfPaymentsForUserInPaymentPeriodVM




<h2>Seznam plateb pro účtovací období @Html.DisplayFor(model => model.PaymentPeriod.Start) - 
    @Html.DisplayFor(model => model.PaymentPeriod.End) skupiny @Html.DisplayFor(model => model.PaymentPeriod.GroupName)</h2>
    
   <b>
    <p>Celkem dlužná částka: @Html.DisplayFor(model => model.SumPrices)  </p>
    <p>Celkem zaplatili hotově na místě: @Html.DisplayFor(model => model.SumCash) </p>
    <p>Celkem zaplatí zpětně: @Html.DisplayFor(model => model.SumAfterPeriod) </p>
</b>
<p></p>
    @foreach (var item in Model.ChargedUsersPayingByCash)
    {


        <p>
            Uživatel @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.Surname)
            zaplatil hotově na místě: @Html.DisplayFor(modelItem => item.sum)
        </p>

        <table class="table">
            <tr>
                <th>
                    Cena události
                </th>
                <th>
                    Název
                </th>

                <th>
                    Datum a čas
                </th>
            </tr>
            @if (item != null)
            {
                foreach (var item2 in item.EventsParticipationYes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.TimeOfEvent)
                        </td>
                    </tr>
                }
            }
            
        </table>
    }
   
    
    
        <p></p>
    
    @foreach (var item in Model.ChargedUsersPayingAfterPeriod)
    {


        <p>
            Uživatel @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.Surname)
            zaplatí zpětně: @Html.DisplayFor(modelItem => item.sum)
        </p>

        <table class="table">
            <tr>
                <th>
                    Cena události
                </th>
                <th>
                    Název
                </th>

                <th>
                    Datum a čas
                </th>
            </tr>
            @if (item != null)
	{
                foreach (var item2 in item.EventsParticipationYes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item2.TimeOfEvent)
                        </td>
                    </tr>
                }

    }      
        </table>
    }
        



