@model SportEvents.ViewModels.ListOfPaymentsForUserInPaymentPeriodVM




<h2>Seznam plateb</h2>
<p>Celkem dlužná částka: @Html.DisplayFor(model => model.SumPrices)  </p>

    <p>Zaplatili hotově na místě: @Html.DisplayFor(model => model.SumCash) </p>
    @foreach (var item in Model.ChargedUsersPayingByCash)
    {


        <p>
            Uživatel @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.Surname)
            celkem dluží: @Html.DisplayFor(modelItem => item.sum)
        </p>

        <table class="table">
            <tr>
                <th>
                    Cena události
                </th>
                <th>
                    Název
                </th>

                <th>
                    Datum a čas
                </th>
            </tr>
            @foreach (var item2 in item.EventsParticipationYes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item2.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.TimeOfEvent)
                    </td>
                </tr>
            }
        </table>
    }
   
    
    
        <p></p>
    <p>Zaplatí zpětně: @Html.DisplayFor(model => model.SumAfterPeriod) Kč</p>
    @foreach (var item in Model.ChargedUsersPayingAfterPeriod)
    {


        <p>
            Uživatel @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.Surname)
            celkem dluží: @Html.DisplayFor(modelItem => item.sum)
        </p>

        <table class="table">
            <tr>
                <th>
                    Cena události
                </th>
                <th>
                    Název
                </th>

                <th>
                    Datum a čas
                </th>
            </tr>
            @foreach (var item2 in item.EventsParticipationYes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item2.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item2.TimeOfEvent)
                    </td>
                </tr>
            }
        </table>
    }
        



