@model SportEvents.Models.Login

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>Login</title>
</head>
<body>
    <h2>Přihlášení</h2>
    <h2>@SportEvents.Languages.Resources.addPerson</h2>

@using(Html.BeginForm("SetCulture", "Home"))
{
    <fieldset>
        <legend></legend>

        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio"/> English
                </label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="es">
                    <input name="culture" id="cs" value="cs" type="radio" /> Español
                </label>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label for="ar">
                    <input name="culture" id="ar" value="ar" type="radio" /> العربية
                </label>
            </div>
        </div>


    </fieldset>
}


    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });

        })(jQuery);
    </script>

    <hr />
    <div id="zkouska">
        <section id="left">
            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()

                @Html.LabelFor(model => model.Email)<br />
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)<br />

                @Html.LabelFor(model => model.Password)<br />
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)<br />

                @Html.ActionLink("Zapomněl jsi své heslo?", "", "")<br />

                <input type="submit" value="Přihlásit" class="button" />
            }
        </section>
        <section id="right">
            <img src="~/Image/sport.png" />            
        </section> 


    </div> 
    
</body>
</html>